footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}
footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}