footer {
    background-color: white;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    border-top: 1px solid #CCCCCC;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}