header {
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
.header-logo {
    background-image: url(https://s3.eu-west-3.amazonaws.com/hbtn.intranet.project.files/holbertonschool-higher-level_programming+/268/logo.png);
    background-repeat: no-repeat;
    margin-left: 20px;
    width: 142px;
    height: 100%;
}